.screenshotButton {
  width: auto;
  float: left;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0.5em;
}

.screenshotButton:hover {
  background: rgba(255, 255, 255, 0.1);
}
